<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GenreID</key>
		<string>1</string>
		<key>GenreName</key>
		<string>Men2</string>
		<key>Categories</key>
		<array>
			<dict>
				<key>CategoryID</key>
				<string>1</string>
				<key>CategoryName</key>
				<string>T-Shirts</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>2</string>
				<key>CategoryName</key>
				<string>Shorts</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>3</string>
				<key>CategoryName</key>
				<string>Boots</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>4</string>
				<key>CategoryName</key>
				<string>Watches</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>5</string>
				<key>CategoryName</key>
				<string>Caps</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>6</string>
				<key>CategoryName</key>
				<string>Polo</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>7</string>
				<key>CategoryName</key>
				<string>Pants</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>8</string>
				<key>CategoryName</key>
				<string>Other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GenreID</key>
		<string>1</string>
		<key>GenreName</key>
		<string>Men</string>
		<key>Categories</key>
		<array>
			<dict>
				<key>CategoryID</key>
				<string>1</string>
				<key>CategoryName</key>
				<string>T-Shirts</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>2</string>
				<key>CategoryName</key>
				<string>Shorts</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>3</string>
				<key>CategoryName</key>
				<string>Boots</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>4</string>
				<key>CategoryName</key>
				<string>Watches</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>5</string>
				<key>CategoryName</key>
				<string>Caps</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>6</string>
				<key>CategoryName</key>
				<string>Polo</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>7</string>
				<key>CategoryName</key>
				<string>Pants</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>8</string>
				<key>CategoryName</key>
				<string>Other</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GenreID</key>
		<string>2</string>
		<key>GenreName</key>
		<string>Women</string>
		<key>Categories</key>
		<array>
			<dict>
				<key>CategoryID</key>
				<string>9</string>
				<key>CategoryName</key>
				<string>T-Shirts</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>10</string>
				<key>CategoryName</key>
				<string>Shorts</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>11</string>
				<key>CategoryName</key>
				<string>Boots</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>12</string>
				<key>CategoryName</key>
				<string>Watches</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>13</string>
				<key>CategoryName</key>
				<string>Caps</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>14</string>
				<key>CategoryName</key>
				<string>Polo</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>15</string>
				<key>CategoryName</key>
				<string>Pants</string>
			</dict>
			<dict>
				<key>CategoryID</key>
				<string>16</string>
				<key>CategoryName</key>
				<string>Skirts</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
