<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>ID</key>
            <string>1</string>
            <key>Name</key>
            <string>Brazil Shirt</string>
            <key>SmallImage</key>
            <string>brazil_small.png</string>
            <key>LargeImage</key>
            <string>brazil_large.png</string>
            <key>GridImage</key>
            <string>brazil_grid.png</string>
            <key>Images</key>
            <array>
                <dict>
                    <key>ImageName</key>
                    <string>brazil_image1.png</string>
                </dict>
            </array>
            <key>Price</key>
            <string>50</string>
            <key>Colours</key>
            <array>
                <dict>
                    <key>ColourId</key>
                    <string>1</string>
                    <key>ColourName</key>
                    <string>Yellow</string>
                    <key>ColourCode</key>
                    <string>ffff00</string>
                </dict>
            </array>
            <key>Sizes</key>
            <array>
                <dict>
                    <key>SizeId</key>
                    <string>1</string>
                    <key>SizeName</key>
                    <string>M</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>2</string>
                    <key>SizeName</key>
                    <string>L</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>3</string>
                    <key>SizeName</key>
                    <string>XL</string>
                </dict>
            </array>
            <key>Details</key>
            <string>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt facilisis erat, quis aliquam nulla dictum a. Sed eu est quis dolor maximus ultrices rhoncus ac nibh. Phasellus venenatis, ante non pulvinar volutpat, arcu libero euismod sapien, id mattis erat turpis eu risus. Cras gravida, lorem vitae varius mollis, odio.</string>
        </dict>
        <dict>
            <key>ID</key>
            <string>2</string>
            <key>Name</key>
            <string>Barcelona Shirt</string>
            <key>SmallImage</key>
            <string>barca_small.png</string>
            <key>LargeImage</key>
            <string>barca_large.png</string>
            <key>GridImage</key>
            <string>barca_grid.png</string>
            <key>Images</key>
            <array>
                <dict>
                    <key>ImageName</key>
                    <string>barca_image1.png</string>
                </dict>
            </array>
            <key>Price</key>
            <string>60</string>
            <key>Colours</key>
            <array>
                <dict>
                    <key>ColourId</key>
                    <string>2</string>
                    <key>ColourName</key>
                    <string>Blue</string>
                    <key>ColourCode</key>
                    <string>0000ff</string>
                </dict>
            </array>
            <key>Sizes</key>
            <array>
                <dict>
                    <key>SizeId</key>
                    <string>4</string>
                    <key>SizeName</key>
                    <string>S</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>1</string>
                    <key>SizeName</key>
                    <string>M</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>2</string>
                    <key>SizeName</key>
                    <string>L</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>3</string>
                    <key>SizeName</key>
                    <string>XL</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>5</string>
                    <key>SizeName</key>
                    <string>XXL</string>
                </dict>
            </array>
            <key>Details</key>
            <string>2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt facilisis erat, quis aliquam nulla dictum a. Sed eu est quis dolor maximus ultrices rhoncus ac nibh. Phasellus venenatis, ante non pulvinar volutpat, arcu libero euismod sapien, id mattis erat turpis eu risus. Cras gravida, lorem vitae varius mollis, odio.</string>
        </dict>
        <dict>
            <key>ID</key>
            <string>3</string>
            <key>Name</key>
            <string>Portugal Shirt</string>
            <key>SmallImage</key>
            <string>portugal_small.png</string>
            <key>LargeImage</key>
            <string>portugal_large.png</string>
            <key>GridImage</key>
            <string>portugal_grid.png</string>
            <key>Images</key>
            <array>
                <dict>
                    <key>ImageName</key>
                    <string>portugal_image1.png</string>
                </dict>
            </array>
            <key>Price</key>
            <string>63</string>
            <key>Colours</key>
            <array>
                <dict>
                    <key>ColourId</key>
                    <string>3</string>
                    <key>ColourName</key>
                    <string>Red</string>
                    <key>ColourCode</key>
                    <string>ff0000</string>
                </dict>
            </array>
            <key>Sizes</key>
            <array>
                <dict>
                    <key>SizeId</key>
                    <string>1</string>
                    <key>SizeName</key>
                    <string>M</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>2</string>
                    <key>SizeName</key>
                    <string>L</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>3</string>
                    <key>SizeName</key>
                    <string>XL</string>
                </dict>
            </array>
            <key>Details</key>
            <string>3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt facilisis erat, quis aliquam nulla dictum a. Sed eu est quis dolor maximus ultrices rhoncus ac nibh. Phasellus venenatis, ante non pulvinar volutpat, arcu libero euismod sapien, id mattis erat turpis eu risus. Cras gravida, lorem vitae varius mollis, odio.</string>
        </dict>
        <dict>
            <key>ID</key>
            <string>4</string>
            <key>Name</key>
            <string>Juventus Shirt</string>
            <key>SmallImage</key>
            <string>juve_small.png</string>
            <key>LargeImage</key>
            <string>juve_large.png</string>
            <key>GridImage</key>
            <string>juve_grid.png</string>
            <key>Images</key>
            <array>
                <dict>
                    <key>ImageName</key>
                    <string>juve_image1.png</string>
                </dict>
            </array>
            <key>Price</key>
            <string>55</string>
            <key>Colours</key>
            <array>
                <dict>
                    <key>ColourId</key>
                    <string>4</string>
                    <key>ColourName</key>
                    <string>White</string>
                    <key>ColourCode</key>
                    <string>ffffff</string>
                </dict>
            </array>
            <key>Sizes</key>
            <array>
                <dict>
                    <key>SizeId</key>
                    <string>1</string>
                    <key>SizeName</key>
                    <string>M</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>2</string>
                    <key>SizeName</key>
                    <string>L</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>3</string>
                    <key>SizeName</key>
                    <string>XL</string>
                </dict>
            </array>
            <key>Details</key>
            <string>4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt facilisis erat, quis aliquam nulla dictum a. Sed eu est quis dolor maximus ultrices rhoncus ac nibh. Phasellus venenatis, ante non pulvinar volutpat, arcu libero euismod sapien, id mattis erat turpis eu risus. Cras gravida, lorem vitae varius mollis, odio.</string>
        </dict>
        <dict>
            <key>ID</key>
            <string>5</string>
            <key>Name</key>
            <string>Croatia Shirt</string>
            <key>SmallImage</key>
            <string>croatia_small.png</string>
            <key>LargeImage</key>
            <string>croatia_large.png</string>
            <key>GridImage</key>
            <string>croatia_grid.png</string>
            <key>Images</key>
            <array>
                <dict>
                    <key>ImageName</key>
                    <string>croatia_image1.png</string>
                </dict>
            </array>
            <key>Price</key>
            <string>85</string>
            <key>Colours</key>
            <array>
                <dict>
                    <key>ColourId</key>
                    <string>3</string>
                    <key>ColourName</key>
                    <string>Red</string>
                    <key>ColourCode</key>
                    <string>ff0000</string>
                </dict>
            </array>
            <key>Sizes</key>
            <array>
                <dict>
                    <key>SizeId</key>
                    <string>1</string>
                    <key>SizeName</key>
                    <string>M</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>2</string>
                    <key>SizeName</key>
                    <string>L</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>3</string>
                    <key>SizeName</key>
                    <string>XL</string>
                </dict>
            </array>
            <key>Details</key>
            <string>5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt facilisis erat, quis aliquam nulla dictum a. Sed eu est quis dolor maximus ultrices rhoncus ac nibh. Phasellus venenatis, ante non pulvinar volutpat, arcu libero euismod sapien, id mattis erat turpis eu risus. Cras gravida, lorem vitae varius mollis, odio.</string>
        </dict>
        <dict>
            <key>ID</key>
            <string>6</string>
            <key>Name</key>
            <string>Man. United Shirt</string>
            <key>SmallImage</key>
            <string>manutd_small.png</string>
            <key>LargeImage</key>
            <string>manutd_large.png</string>
            <key>GridImage</key>
            <string>manutd_grid.png</string>
            <key>Images</key>
            <array>
                <dict>
                    <key>ImageName</key>
                    <string>manutd_image1.png</string>
                </dict>
            </array>
            <key>Price</key>
            <string>112</string>
            <key>Colours</key>
            <array>
                <dict>
                    <key>ColourId</key>
                    <string>3</string>
                    <key>ColourName</key>
                    <string>Red</string>
                    <key>ColourCode</key>
                    <string>ff0000</string>
                </dict>
            </array>
            <key>Sizes</key>
            <array>
                <dict>
                    <key>SizeId</key>
                    <string>4</string>
                    <key>SizeName</key>
                    <string>S</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>2</string>
                    <key>SizeName</key>
                    <string>L</string>
                </dict>
            </array>
            <key>Details</key>
            <string>6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt facilisis erat, quis aliquam nulla dictum a. Sed eu est quis dolor maximus ultrices rhoncus ac nibh. Phasellus venenatis, ante non pulvinar volutpat, arcu libero euismod sapien, id mattis erat turpis eu risus. Cras gravida, lorem vitae varius mollis, odio.</string>
        </dict>
    </array>
</plist>
