<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>ID</key>
            <string>10</string>
            <key>Name</key>
            <string>Running Shoes</string>
            <key>SmallImage</key>
            <string>running_shoes_small.png</string>
            <key>LargeImage</key>
            <string>running_shoes_large.png</string>
            <key>GridImage</key>
            <string>running_shoes_grid.png</string>
            <key>Images</key>
            <array>
                <dict>
                    <key>ImageName</key>
                    <string>running_shoes_image1.png</string>
                </dict>
                <dict>
                    <key>ImageName</key>
                    <string>running_shoes_image2.png</string>
                </dict>
                <dict>
                    <key>ImageName</key>
                    <string>running_shoes_image3.png</string>
                </dict>
                <dict>
                    <key>ImageName</key>
                    <string>running_shoes_image4.png</string>
                </dict>
                <dict>
                    <key>ImageName</key>
                    <string>running_shoes_image5.png</string>
                </dict>
            </array>
            <key>Price</key>
            <string>315</string>
            <key>Colours</key>
            <array>
                <dict>
                    <key>ColourId</key>
                    <string>12</string>
                    <key>ColourName</key>
                    <string>Phosphor</string>
                    <key>ColourCode</key>
                    <string>c9e044</string>
                </dict>
                <dict>
                    <key>ColourId</key>
                    <string>13</string>
                    <key>ColourName</key>
                    <string>Cyan</string>
                    <key>ColourCode</key>
                    <string>5ed7c7</string>
                </dict>
                <dict>
                    <key>ColourId</key>
                    <string>14</string>
                    <key>ColourName</key>
                    <string>Gray</string>
                    <key>ColourCode</key>
                    <string>434343</string>
                </dict>
                <dict>
                    <key>ColourId</key>
                    <string>15</string>
                    <key>ColourName</key>
                    <string>Blue</string>
                    <key>ColourCode</key>
                    <string>479dcc</string>
                </dict>
                <dict>
                    <key>ColourId</key>
                    <string>10</string>
                    <key>ColourName</key>
                    <string>Black</string>
                    <key>ColourCode</key>
                    <string>000000</string>
                </dict>
            </array>
            <key>Sizes</key>
            <array>
                <dict>
                    <key>SizeId</key>
                    <string>10</string>
                    <key>SizeName</key>
                    <string>8</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>12</string>
                    <key>SizeName</key>
                    <string>9</string>
                </dict>
            </array>
            <key>Details</key>
            <string>10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt facilisis erat, quis aliquam nulla dictum a. Sed eu est quis dolor maximus ultrices rhoncus ac nibh. Phasellus venenatis, ante non pulvinar volutpat, arcu libero euismod sapien, id mattis erat turpis eu risus. Cras gravida, lorem vitae varius mollis, odio.</string>
        </dict>
        <dict>
            <key>ID</key>
            <string>7</string>
            <key>Name</key>
            <string>Football Boots (Red)</string>
            <key>SmallImage</key>
            <string>football_boots_red_small.png</string>
            <key>LargeImage</key>
            <string>football_boots_red_large.png</string>
            <key>GridImage</key>
            <string>football_boots_red_grid.png</string>
            <key>Images</key>
            <array>
                <dict>
                    <key>ImageName</key>
                    <string>football_boots_red_image1.png</string>
                </dict>
            </array>
            <key>Price</key>
            <string>150</string>
            <key>Colours</key>
            <array>
                <dict>
                    <key>ColourId</key>
                    <string>3</string>
                    <key>ColourName</key>
                    <string>Red</string>
                    <key>ColourCode</key>
                    <string>ff0000</string>
                </dict>
            </array>
            <key>Sizes</key>
            <array>
                <dict>
                    <key>SizeId</key>
                    <string>10</string>
                    <key>SizeName</key>
                    <string>8</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>11</string>
                    <key>SizeName</key>
                    <string>8.5</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>12</string>
                    <key>SizeName</key>
                    <string>9</string>
                </dict>
            </array>
            <key>Details</key>
            <string>7 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt facilisis erat, quis aliquam nulla dictum a. Sed eu est quis dolor maximus ultrices rhoncus ac nibh. Phasellus venenatis, ante non pulvinar volutpat, arcu libero euismod sapien, id mattis erat turpis eu risus. Cras gravida, lorem vitae varius mollis, odio.</string>
        </dict>
        <dict>
            <key>ID</key>
            <string>8</string>
            <key>Name</key>
            <string>Football Boots (Green)</string>
            <key>SmallImage</key>
            <string>football_boots_green_small.png</string>
            <key>LargeImage</key>
            <string>football_boots_green_large.png</string>
            <key>GridImage</key>
            <string>football_boots_green_grid.png</string>
            <key>Images</key>
            <array>
                <dict>
                    <key>ImageName</key>
                    <string>football_boots_green_image1.png</string>
                </dict>
            </array>
            <key>Price</key>
            <string>123</string>
            <key>Colours</key>
            <array>
                <dict>
                    <key>ColourId</key>
                    <string>11</string>
                    <key>ColourName</key>
                    <string>Green</string>
                    <key>ColourCode</key>
                    <string>00ff00</string>
                </dict>
            </array>
            <key>Sizes</key>
            <array>
                <dict>
                    <key>SizeId</key>
                    <string>10</string>
                    <key>SizeName</key>
                    <string>8</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>11</string>
                    <key>SizeName</key>
                    <string>8.5</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>12</string>
                    <key>SizeName</key>
                    <string>9</string>
                </dict>
            </array>
            <key>Details</key>
            <string>8 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt facilisis erat, quis aliquam nulla dictum a. Sed eu est quis dolor maximus ultrices rhoncus ac nibh. Phasellus venenatis, ante non pulvinar volutpat, arcu libero euismod sapien, id mattis erat turpis eu risus. Cras gravida, lorem vitae varius mollis, odio.</string>
        </dict>
        <dict>
            <key>ID</key>
            <string>9</string>
            <key>Name</key>
            <string>Football Boots (Black)</string>
            <key>SmallImage</key>
            <string>football_boots_black_small.png</string>
            <key>LargeImage</key>
            <string>football_boots_black_large.png</string>
            <key>GridImage</key>
            <string>football_boots_black_grid.png</string>
            <key>Images</key>
            <array>
                <dict>
                    <key>ImageName</key>
                    <string>football_boots_black_image1.png</string>
                </dict>
            </array>
            <key>Price</key>
            <string>220</string>
            <key>Colours</key>
            <array>
                <dict>
                    <key>ColourId</key>
                    <string>10</string>
                    <key>ColourName</key>
                    <string>Black</string>
                    <key>ColourCode</key>
                    <string>000000</string>
                </dict>
            </array>
            <key>Sizes</key>
            <array>
                <dict>
                    <key>SizeId</key>
                    <string>10</string>
                    <key>SizeName</key>
                    <string>8</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>11</string>
                    <key>SizeName</key>
                    <string>8.5</string>
                </dict>
                <dict>
                    <key>SizeId</key>
                    <string>12</string>
                    <key>SizeName</key>
                    <string>9</string>
                </dict>
            </array>
            <key>Details</key>
            <string>9 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt facilisis erat, quis aliquam nulla dictum a. Sed eu est quis dolor maximus ultrices rhoncus ac nibh. Phasellus venenatis, ante non pulvinar volutpat, arcu libero euismod sapien, id mattis erat turpis eu risus. Cras gravida, lorem vitae varius mollis, odio.</string>
        </dict>
    </array>
</plist>
